.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.serachBar {
  width:50%;
  border:none;
  padding: 0px;
  padding: 15px;
}
.serachButton {
  background: blueviolet;
  border: none;
  color: white;
  padding: 15px 30px;
}
.weatherSearch {
  text-align: center;
  justify-content: center;
  display: flex;
}
.weatherSearchForm {
  width: 600px;
  top: 20px;
  position: relative;
}
.weatherInfo {
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  top: 30px;
  position: relative;
}
.error {
  text-align: center;
  justify-content: center;
  top: 30px;
  position: relative;
  color:red;
}
.dateTime{
  text-align: right;
  justify-content: right;
  top: 5px;
  position: relative;
  color:green;
  padding-right: 60px;
}